@model IEnumerable<BakeryFP.Models.Product>
@{
    ViewBag.Title = "Index";
}

<h2>Sale</h2>
    @foreach (var item in Model)
    {
        <p>
            @Html.DisplayFor(modelItem => item.ProductName)
        </p>
    }
