@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MG's Bakery</h1>
    <p class="lead">Welcome to MG's Bakery, we offer the most delicious pastries at an unbeatable price.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Check our Products &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Pies</h2>
        <img src="~/Images/pies.jpeg" width="200px" height="200px"/>
        <p>Delicious Pies.</p>
        <p><a class="btn btn-default" href="#">Buy &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cupcakes</h2>
        <img src="~/Images/cupcakes.jpg" width="200px" height="200px"/>
        <p>Beautiful Cupcakes.</p>
        <p><a class="btn btn-default" href="#">Buy &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pastries</h2>
        <img src="~/Images/pastries.jpeg" width="200px" height="200px"/>
        <p>Fresh out of the oven pastries.</p>
        <p><a class="btn btn-default" href="#">Buy &raquo;</a></p>
    </div>
</div>